{% extends base_template %}
{% block qimnet_crud_title %}{{title|trans({"%entity%": entity, "%typeName%": type_name|humanize|trans })|capitalize}}{% endblock %}
{% block qimnet_crud_content %}
    {% include form_template %}
{% endblock %}
{% block qimnet_crud_links %}{% spaceless %}
    {% if type_name is listable %}
        <a href="{{ crud_path(type_name) }}">{% trans from "crud" %}Back to list{% endtrans %}</a>
    {% endif %}
{% endspaceless %}{% endblock %}
